/**********************************
 *   GENERAL CSS                  *
 **********************************/
.centered {
	text-align:center;
}
.vertical-centered-container {
	display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}
.vertical-centered-container .vertical-centered {
	display: table-row;
    vertical-align: middle;
}

.vertical-centered-container .non-vertical-centered {
	display: table-row;
}

form .submit-button {
	margin-top: 20px;
}


.more-option
{
    margin:5px;
    margin-bottom: 50px;
}

.bar{
	background-color:#FFF;
}

#header{
	
}

#app-body{

}



#fromFormInfo
{
	margin-top: 12px;
}

#fromToInfo
{
	margin-top: 12px;
}

#search-form
{
    margin-top: 40px;
}



.more-option span.icon
{
    font-size: 75%;
}

#passenger-welcome
{
	 margin-top: 25px;
}
#driver-welcome
{
    margin-top: 25px;

}

#login-form
{
	margin-top: 50px;
}
#register
{
	margin-top: 50px;
}

#logo{
	background-color: green ;
}



#box {
	margin-top: 90px;
	margin-left: 40px;

	padding: 1px;
	display: block;
	position: absolute;
	border-radius: 15px;
}
#topleft {
background: #33CCFF;
width: 100px;
height: 100px;
margin: 10px;
display: block;
float: left;
border-radius: 15px;
}
#topright {
background: #33CCFF;
width: 100px;
height: 100px;
margin: 10px;
display: block;
float: left;
border-radius: 15px;
}
#bottomleft {
background: #33CCFF;
width: 100px;
height: 100px;
margin: 10px;
display: block;
float: left;
clear: left;
border-radius: 15px;
}
#bottomright {
background: #33CCFF;
width: 100px;
height: 100px;
margin: 10px;
display: block;
float: left;
border-radius: 15px;
}

#profil
{
	margin-top:30px;
	margin-left:34px;

}

#addlift{
	margin-top:30px;
	margin-left:34px;

}

#Alert{
	margin-top:30px;
	margin-left:34px;

}
#rev{
	margin-top:30px;
	margin-left:34px;

}

#MyReviews{
	margin-top:7px;
	margin-left:20px;

}

#MyCars{
	margin-top:7px;
	margin-left:20px;

}
#MyAlerts{
	margin-top:7px;
	margin-left:20px;

}

#MyInfos{
	margin-top:7px;
	margin-left:20px;

}
#paramComponents{
	
	
}

#logo{
	height: 50px; 
	background:#FFF;
	height:80px; 
	weight:80px;
	
	
}
#myInfsocomponent{
	 margin-top: 40px
}
#myCarscomponent{
	 margin-top: 40px
}

/**********************************
 *   AddUsername Page             *
 **********************************/

#UserNameForm{
}

#UserNameForm .control-group {
	
}

#UserNameForm .submit-button {
	margin-top: 20px;
}


